@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title</h2>

<address>
    <br />
    Ukraine, Zaporozhye, st. Relief 9<br />
    Phone: +380671115618
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kms.of.dot@gmail.com">kms.of.dot@gmail.com</a><br />
</address>