@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>Avia build</h1>
    <div class="col-md-6">
        <img src="~/Content/Images/logo.png" height="250" width="250"/>
    </div>
    <div class="col-md-6">
        <p class="lead">Avia build is an aircraft manufacturing company that builds airplanes and rockets. On our site you can quickly and conveniently fill out and edit the database of our company.</p>
    </div>
        <p><a href="https://github.com/randomkms/AviaBuild" class="btn btn-primary btn-lg">Our desktop application &raquo;</a></p>
    </div>
