body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.my-padding {
    padding: 70px 0 70px 0 !important;
    margin-top: 30px;
}

.navbar-inverse {
    background-color: #C5E1A5 !important;
    border-color: #C5E1A5 !important;
}

.navbar {
    background-image: none;
}

.btn-primary {
    color: #000 !important;
    background-color: #8BC34A !important;
    border-color: #8BC34A !important;
}

.navbar-inverse .navbar-brand {
    color: #000 !important;
    /*font-weight: bold !important;*/
}

.navbar-inverse .navbar-nav > li > a {
    color: #000 !important;
    /*font-weight: bold !important;*/
}

.btn-default:hover {
    color: #333;
    background-color: #C5E1A5 !important;
    border-color: #adadad;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #8BC34A !important;
    border-color: #c12323;
}

a {
    color: green !important;
}